@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row d-flex align-items-center px-4">
            <img src="Logo2 nobg.png" class="img-fluid h-100" alt="">
            <p class="mb-0 ms-3 fw-bold">Chirper</p>
            <NavLink href="/LogIn" class="btn btn-outline-primary rounded-pill px-4 py-2 ms-auto fw-bold"
                activeClass="btn-primary">
                Log In
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
