@using Chirper.Services
@using Chirper.Models
@inject ChirpService ChirpService


<div class="row">
    @foreach (var chirp in Chirps)
    {
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">@chirp.Author</h6>
                    <p class="card-text">@chirp.Content</p>
                    <small class="text-muted">@chirp.CreatedAt.ToString("g")</small>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public List<Chirp> Chirps { get; set; } = new();


}