/* _content/Chirper/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-8pd8z2t85b] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-8pd8z2t85b] {
  flex: 1;
}

.top-row[b-8pd8z2t85b] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-start;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

@media (max-width: 640.98px) {
  .top-row[b-8pd8z2t85b] {
    justify-content: space-between;
  }

  .top-row[b-8pd8z2t85b]  a,
  .top-row[b-8pd8z2t85b]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-8pd8z2t85b] {
    flex-direction: row;
  }

  .sidebar[b-8pd8z2t85b] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-8pd8z2t85b] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-8pd8z2t85b]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-8pd8z2t85b],
  article[b-8pd8z2t85b] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}

#blazor-error-ui[b-8pd8z2t85b] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-8pd8z2t85b] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
