@page "/"
@using Chirper.Models;
@using Chirper.Services
@inject ChirpService ChirpService
@rendermode InteractiveServer




<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h1 class="d-flex justify-content-center">Posts</h1>
            <ChirpList Chirps="chirps" />
            <ChirpCreate OnChirpAdded="HandleChirpAdded" />
        </div>
        <div class="col"></div>
    </div>
</div>

@code {
    private List<Chirp> chirps = new();

    private bool isInitialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            chirps = await ChirpService.GetChirpsAsync();
            isInitialized = true;
            StateHasChanged(); // Trigger UI update
            Console.WriteLine("Chirps loaded on first render");
        }
    }

    private void HandleChirpAdded(Chirp chirp)
    {
        chirps.Add(chirp); // Update the shared list
        StateHasChanged(); // Force the UI to re-render
    }
}