@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore;

@page "/login"


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 border shadow-sm border-top-0">
            <LogInForm OnLoginSuccess="HandleLoginSuccess" />
            <div class="d-flex justify-content-center mt-4 mb-3">
                <a class="btn btn-secondary" href="/register">Create a new account</a>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
@code {

    private async Task HandleLoginSuccess()
    {
        // Redirect to the next page after successful login
        NavigationManager.NavigateTo("/");
    }

}