@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore;

@page "/login"


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 border shadow-sm border-top-0">
            <LogInForm />
            <div class="d-flex justify-content-center mt-4 mb-3">
                <NavLink href="/Register" class="btn btn-secondary" activeClass="btn-primary">
                    Register
                </NavLink>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
