@page "/logout"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Identity
@using Chirper.Models
@inject SignInManager<User> SignInManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/", true); //this only reloads the component from which it is called.
        Navigation.Refresh(true);
    }
}
