@page "/logout"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Identity
@using Chirper.Models
@inject SignInManager<User> SignInManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        Navigation.NavigateTo("/", true); //will actually be redirected to /login because of RedirectToLogin.razor
    }
}
