@using System.ComponentModel.DataAnnotations
@using Chirper.Data
@using Chirper.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity


@page "/register"


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 border shadow-sm border-top-0">
            <CreateAccountForm />
            <div class="d-flex justify-content-center mt-4 mb-3">
                <NavLink href="/login" class="btn btn-secondary" activeClass="btn-primary">
                    Log In
                </NavLink>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>